<body>
  <%= render 'layouts/navbar' %>
  <main class="main">
    <a class="main__project__back" href="/projects">
      <svg class="main__project__back__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.25 22.46"><defs><style>.a{fill:#fdd835;}</style></defs><title>Asset 4</title><path class="a" d="M11.2,0a1,1,0,0,0-.7.31L.3,10.51A1,1,0,0,0,.3,12l10.2,10.2a1,1,0,0,0,1.72-.45,1,1,0,0,0-.28-1L2.46,11.23l9.48-9.48A1,1,0,0,0,12.17.62,1,1,0,0,0,11.2,0Z"/>
      </svg>
      All Projects
    </a>

    <section class="main__project__summary">
      <h1 class="main__project__summary__h1">Removing the frustation of using CPACS</h1>

      <ul class="projectinfotags projectinfotags--details">
        <li>UX/UI</li>
        <li>Graphic Design</li>
      </ul>
      <p>CPACS is an enterprise system used by NYU’s Office of Construction Management to keep track of money being used on big projects across the campuses. As with many enterprise systems, it deals with a heavy amount of information, which in and of itself is an impressive feat. However, something about using it was causing many users great frustration.
        <br><br>
        In October 2017, I was put in charge of redesigning the interface.
      </p>
      <img id="oldCPACS" src="../projects/CPACS/old.jpg"></img>
    </section>

    <section class="main__project__details">
      <h2 class="main__project__details__h2">My Role</h2>
      <p>I led the hands on redesign of CPACS starting October 2017. I collaborate with another designer on the document workflow modules and collaborated with a product owner, a user support personnel, a systems architect, and two frontend developers.
        <br>
        The project is still ongoing. A module is redesigned and implemented every month, with the project expecting to be finished in 2020.
      </p>
    </section>

    <section class="main__project__details">
      <h2 class="main__project__details__h2">The Challenge</h2>
      <p>NYU’s Office of Construction Management asked NYU’s Operations Technology Services and Systems to redesign CPACS, as it was outdated. This meant primarily updating its backend but the team saw as an opportunity to update the frontend as well. This involved making the application accessible, improving its usability, and adding/removing features.
        <br>
        The system is used by a variety of people with different roles and backgrounds. Through casual conversations with users and observing user support, there were obvious frustrations with the system that needed to be addressed.
      </p>
    </section>

    <section class="main__project__details">
      <h2 class="main__project__details__h2">The Approach</h2>
      <p>None of the designers have ever used CPACS. Many of CPACS users first need to go through official training sessions to learn the different document workflows. We sat in on the trainings, taking notes on any flaws of hiccups we see in the system as the user support personnel went through the system. We read through the training manuals, further familiarizing ourselves with the document workflows.
        <br>
        We attempted to conduct user studies with the members of NYU’s OCM. However, due to department politics, we have not had the opportunity to begin. Instead, we interviewed members of the user support team, in hopes of figuring out the most common problems users encountered while using CPACS. The member of user support that we interviewed was fairly new to CPACS. He was able to provide extensive insight into the issues users normally encounter when they first started to use CPACS.
        <br>
        It seemed that the main issue is that there are processes and lingo that are difficult to grasp if the user has not been exposed to the type of work before. In addition, error messages typically only display a code, so that users typically don’t know what the issue is unless they know the code, which led to users not knowing how to fix their mistakes. This made it extremely difficult for users to begin using CPACS. Every time they encountered an issue, they would oftentimes need to contact user support to diagnose and fix their issue or consult an outdated user manual. Their dependency on external support systems to use the application slows them down and makes them less efficient.
      </p>
    </section>

    <section class="main__project__details">
      <h2 class="main__project__details__h2">The Solution</h2>
      <p>Being a system meant to centralize the workflows of capital projects, CPACS needed its troubleshooting to be integrated into its system. With the new help module, users will now be able to more easily troubleshoot their issues. Each document workflow will have a set of questions written for it to answer any questions or help troubleshoot any issues new and old users might encounter.
        <br>
        The outdated user manuals are no longer necessary. User support will now be able to directly edit help content on CPACS that will be shown to the users. Users can then provide feedback to the user support team. This faster feedback loop between users and the support team will help the support team create better content for the help module.
        <br>
        The new help module will help make users less directly dependent on the support team, increasing efficiency and decreasing some of the frustration with the system.
      </p>
    </section>
  </main>

  <%= javascript_include_tag 'nav', 'data-turbolinks-track': 'reload' %>
</body>
