<body>
  <%= render 'layouts/navbar' %>

  <main class="main main_Info">
    <img id="felicitypicture" src="felicity.jpg" alt="picture of Felicity"></img>
    <p class="main_Info--paragraphText">
      <br/>
      <b>Hello! I’m Felicity…</b>
      <br/>
      <br/>
      I am currently a student studying at New York University Tandon School of Engineering. I was born and raised in New York, actually. I discovered how much I truly loved design while working as a student UX/UI designer at NYU IT OTSS. I enjoy problem solving and I’m a very visual thinker. I love design because it combines there two with the added bonus of being able to directly help people. I may be a computer science major but I’m ready to dive headfirst into the world of design.
      <br/>
      <br/>
      However, on days I’m free, I like to stay home and play League or go out and try the latest restaurant that I saw in a video on Facebook. I recently picked up photography as a hobby. With this in mind, I also love travelling, although I haven’t been to as many places as I would like (darn college tuition!). I can, however, check Japan and China off my list! The thing about design is that it allows me to incorporate my knowledge and myself into my work and this pulls me even more into design, making me love it more. Many may say design is ethereal but one day, I’ll make something that will outlast me.
      <br/>
      <br/>
      But for now, back to the drawing board... and crying over adorable videos of cats :’)
    </p>
  </main>

  <%= javascript_include_tag 'nav', 'data-turbolinks-track': 'reload' %>
</body>
