<% provide(:title, '- CS portfolio') %>
<body>
  <%= render 'layouts/navbar' %>
  <main id="main" class="main main_display">
  </main>

  <%= javascript_include_tag 'nav', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'cs', 'data-turbolinks-track': 'reload' %>
</body>
