<% provide(:title, '- UX portfolio') %>
<body>
  <%= render 'layouts/navbar' %>

  <main id="main" class="main main__overview">
    <ul class="main__overview__tabs--container">
      <li class="main__overview__tabs--tab">All Projects</li>
      <li class="main__overview__tabs--tab">UX/UI Projects</li>
      <li class="main__overview__tabs--tab">Graphic Design</li>
    </ul>

    <ul class="main__overview__projects--container">
      <li class="main__overview__projects--project">
        <img src="ux/CPACS/Logo.png" class="main__overview__projects--project--img"></img>
        <div class="main__overview__projects--project--info__container">
          <h1>CPACSweb Navigation</h1>
          <p>Removing the frustration of using CPACS</p>
          <ul class="main__overview__projects--project--info__tags__container">
            <li>UX/UI</li>
            <li>Graphic Design</li>
          </ul>
        </div>
      </li>
    </ul>
  </main>

</body>
