<% provide(:title, '- Resume') %>
<body>
  <%= render 'layouts/navbar' %>

  <main class="main main_Info">
    <img src="Resume.png" id="resume" alt="resume"></img>
  </main>
  
  <%= javascript_include_tag 'nav', 'data-turbolinks-track': 'reload' %>
</body>
