<% provide(:title, '- UX portfolio') %>
<body>
  <%= render 'layouts/navbar' %>

  <main id="main" class="main main_display">

  </main>

  <%= javascript_include_tag 'nav', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'ux', 'data-turbolinks-track': 'reload' %>
</body>
