.fade-in{
  animation: 2s fade-in linear forwards 1;
}

@keyframes fade-in{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.in-from-left{
  animation: 5s in-from-left linear forwards 1;
}

@keyframes in-from-left{
  0%{margin-right: 300px;}
  100%{margin-right: 0px;}
}


.in-from-right{
  animation: 5s in-from-right linear forwards 1;
}

@keyframes in-from-right{
  0%{margin-left: 300px;}
  100%{margin-left: 0px;}
}
