@import url('https://fonts.googleapis.com/css?family=Iceberg|Major+Mono+Display|Source+Sans+Pro:300,400,600');

*{
  padding: 0px;
  margin: 0px;
}

html{
  width: 100%;
  height: 100%;
}

.landing{
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .landing__brandbox{
    width: 36%;
    height: 45%;
    // border: solid 1px black;
    background-color: rgba(255, 255, 255, .5);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .landing__brandbox__title{
      font-family: 'Major Mono Display', monospace;
      font-size: 3em;
      margin: .5em .25px;
    }

    .landing__brandbox__descriptor{
      font-size: 2.25em;
      font-weight: 300;
    }
  }

  .landing__navbox{
    width: 75%;
    height: 100%;
    font-family: 'Iceberg', sans-serif;
    z-index: 1;
    // padding: 2em;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
  }

  .landing__navbox--left{
    justify-content: flex-start;
    left: 0;
    background: url("/icons/landing__backgroundshape--left.svg") no-repeat;
    background-size: cover;
    background-position: top;
  }
  .landing__navbox--right{
    justify-content: flex-end;
    right: 0;
    background: url("/icons/landing__backgroundshape--right.svg") no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .landing__navbox__link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    user-select: none;
    &:hover{
      cursor: pointer;
    }

    .landing__navbox__link__img{
      width: 40px;
      height: 40px;
      background: url("/icons/landing__leftarrow.svg") no-repeat center;
      background-size: 40px 40px;
      padding: 10px;
    }
    .landing__navbox__link__h1{
      font-size: 2.25em;
    }
    #rightarrow{
      transform: scaleX(-1);
    }
  }
}

@media only screen
  and (device-width : 375px)
  and (device-height : 812px)
  and (-webkit-device-pixel-ratio : 3)
  and (orientation : portrait),
only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : portrait),
only screen
  and (min-device-width : 414px)
  and (max-device-width : 736px)
  and (orientation : portrait) {

}
