@import url('https://fonts.googleapis.com/css?family=Iceberg|Major+Mono+Display|Source+Sans+Pro:300,400,600');

.main{
  margin: 1em 0em 5em 0em;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.main__info{
}

.main__info__img{
  width: 100%;
  height: auto;
}

$blue: #01579b;

.footer{
  width: 100%;
  height: 75px;
  // padding: 10px 250px;
  box-sizing: border-box;
  background-color: #fff3e0;
  font-family: 'Source Sans Pro', sans-serif;
  color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footercontainer{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__linkcontainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__link--svg{
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $blue;
  cursor: pointer;
  margin-right: 5px;
}

.footer__text{
  font-size: .75em;
}
