<header>
  <button id="hamburgerbutton" class="navbar_button" alt="hamburger button">
  </button>
  <nav id="navbar" class="navbar">
    <button id="closeNavbarButton" class="navbar_button" alt="close navbar button">
    </button>
    <ul class="navbar_navs">
      <a href="/" id="navbar-brand" class="navbar_navs--textlink">Felicity Ng</a>
      <a href="/about" id="nav0" class="navbar_navs--textlink" >About</a>
      <a href="/user_experience" id="nav1" class="navbar_navs--textlink" >UX/UI Work</a>
      <a href="/graphic_design" id="nav2" class="navbar_navs--textlink" >Graphic Design</a>
      <a href="/computer_science" id="nav3" class="navbar_navs--textlink" >CS Projects</a>
      <a href="/resume" id="nav4" class="navbar_navs--textlink" >Resume</a>
    </ul>
  </nav>
</header>
